/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* my Resets */
*,
*::before,
*::after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
input,
button{
    box-shadow: none;
    outline: 0;
    border: 0;
}
/* General */
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
/* container */
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}
/* padding */
.padding{
    padding: 80px 0;
}
/* flex */
.flex{
    display: flex;
    justify-content: space-between;
}
.item-center{
    align-items: center;
}
ul{
    list-style: none;
}
/* columns */
.flex-48{
    flex: 0 1 48%;
}
.flex-30{
    flex: 0 1 30%;
}
.width-full{
    width: 100%;
}

/* header */
   .header{
       background-color: #222946;
       padding: 16px 0;
   } 
 .header a{
     color: #ffffff;
 }  
 .nav li{
     margin-right: 32px;
 }
 .nav a{
   font-size: 24px;
   text-transform: uppercase;
   font-weight: 500;
 }
 .active a{
     color: green;
 }
 /* article */
 .article{
     background-color: #e9ecfc;
 }
 .heading{
     font-size: 36px;
     color: black;
 }
 p{
     font-size: 16px;
 }
 .btn{
     padding: 8px 32px;
     background-color: green;
     color: #ffffff;
     display: inline-block;
     margin-top: 16px;
 }
 /* section blog */
 .blog{
     text-align: center;
     font-size: 44px;
     font-weight: 600;
     margin-bottom: 24px;
 }
.article-head{
    font-size: 24px;
    font-weight: 500;
    
}
.article-para{
    font-size: 16px;
    font-weight: 500;
    color: #8e8e8e;
    
}
/* footer */
.footer{
    background-color: #222946;
    color: #ffffff;
    padding: 24px 0;
}
small{
    font-size: 24px;
    
}
.fot a{
    color: black;
    margin-right: 12px;
    padding: 8px 12px;
}
.fot a,i{
    width: 15px;
    font-size: 18px;
    border-radius: 5px;
    height: 25px;
    background-color: #ffffff;
}
/* Responsivness */
@media screen and (max-width: 768px){
    .flex{
        flex-wrap: wrap;
    }
    .flex-48, .flex-30{
        flex: 1 1 100%;
        margin: 24px 0;
    }
    .column{
        flex-direction: column;
    }
    .footer{
        text-align: center;
    }
    .fot{
        padding: 18px 24px;
    }
}